<a href="https://colab.research.google.com/github/DeveshKhanna7/python_datascience_course_assignment/blob/main/assignment_deveshkhanna.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# List
l = []
# Adding Element
l.append(5)
l.append(10)
print("Adding 5 and 10 in list", l)
# Popping 
l.pop()
print("Popped one element from list", l)
print()
 

# Set
s = set()
# Adding element into set
s.add(5)
s.add(10)
print("Adding 5 and 10 in set", s)
# Removing element from set
s.remove(5)
print("Removing 5 from set", s)
print()
 

#Dictionary
d = {}
#Adding key value pair
d[5] = "Five"
d[10] = "Ten"
print("Dictionary", d)
#Removing key-value pair
del d[10]
print("Dictionary", d)

#tuple
mytuple = ("apple", "banana", "cherry")
print("\ntuple is ", mytuple)

Adding 5 and 10 in list [5, 10]
Popped one element from list [5]

Adding 5 and 10 in set {10, 5}
Removing 5 from set {10}

Dictionary {5: 'Five', 10: 'Ten'}
Dictionary {5: 'Five'}

tuple is  ('apple', 'banana', 'cherry')

In [38]:
#r+,w+,a+

f=open('assignment.txt','r')
print(f.read())

#r+
with open('assignment.txt', 'r+') as f:
    f.read()               
    f.write("i am fine\n")

hey how r u?

In [40]:
f=open('assignment.txt','r')
print(f.read())

hey how r u?
i am fine

In [41]:
with open('assignment.txt', 'w+') as f:   
    f.write("1\n")
    f.write("2\n")
    f.write("3\n")             
    f.seek(0)                       
    lines = f.read()               
    print(lines)

1
2
3

In [42]:
f=open('assignment.txt','r')
print(f.read())

1
2
3

In [45]:
with open('assignment.txt', 'a+') as f:
    f.seek(0)                      
    lines = f.readlines()          
    f.write("\n" + str(len(lines)))

In [46]:
f=open('assignment.txt','r')
print(f.read())

1
2
3
hey
bye
good night
6